.text-h1 {
  color:aqua;
  font-size:300%;
  font-family:Arial, Helvetica, sans-serif;
}
.text-h2 {
  color:aqua;
  font-size:200%;
  font-family:Arial, Helvetica, sans-serif;
}
.text-p {
  color:aqua;
  font-size:50%;
  font-family:Arial, Helvetica, sans-serif;
  font-style:italic;
}
table, td, th {
  border: 1px solid black;
  font-family:Arial, Helvetica, sans-serif;
  text-align:left;
}
table {
  width: 100%;
  border-collapse: collapse;
}