.text-h1 {
  color: aqua;
  font-size: 300%;
  font-family: Arial, Helvetica, sans-serif;
}

.text-h2 {
  color: aqua;
  font-size: 200%;
  font-family: Arial, Helvetica, sans-serif;
}

.text-p {
  color: aqua;
  font-size: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

table {
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  width: 100%;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
} 

th {
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

img {
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  width: 25%;
}